.section__contact {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("../assets/images/header/header04.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.section__contact-title h1,
.section__contact-title p {
  color: var(--white-color);
}

.section__contact-title h1 {
  font-size: 38px;
  margin-bottom: 1rem;
}

.section__contact-title p {
  display: block;
  font-weight: 900;
}

.contact__main{
  padding-inline: 16px;
  padding-top: 110px;
}

.contact__main-title{
  font-size: var(--h4-size);
  padding-bottom: 20px;
}

.contact__container{
  display: flex;
  flex-direction: column;
}

.contact__line{
  display: flex;
  justify-content: center;
  & div{
    display: flex;
    width: 70%;
    height: 2px;
    background-color: var(--secondary-color);
    margin-block: 20px;
  }
}

.contact__schedule{
  display: flex;
  flex-direction: column;
  text-align: center;
  & p{
    color: var(--p-color);
    margin-block: 10px;
    line-height: 1.5;
  }
  & h4{
    font-size: var(--h4-size);
    margin-bottom: 20px;
  }
  & h6{
    font-size: var(--h6-size);
    margin-top: 20px;
  }
}

.contact__map{
  margin-block: 40px;
  margin-bottom: 110px;
  & h4{
    font-size: var(--h4-size);
    margin-bottom: 20px;
  }
}


/* Form */

.form-label {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 0.5rem;
}

label {
  display: inline-block;
  cursor: default;
}

.custom-form .form-control {
  margin-bottom: 25px;
  transition: all 0.3s;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-color);
  background-color: var(--white-color);
  background-clip: padding-box;
  border: thin solid var(--border-color);
  border-radius: 0.25rem;
  appearance: none;
  transition: border color 0.15s ease-in-out, box shadow 0.15s ease-in-out;
  box-shadow: 0px 0px 50px rgb(137, 135, 135);
}

input,
select,
textarea button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  padding-block: 1px;
  padding-inline: 2px;
}

.form-control-area{
  height: 120px;
}

.custom-form button[type="submit"] {
  background: var(--dark-color);
  border: 0;
  color: var(--white-color);
  text-transform: uppercase;
}

.custom-form button[type="submit"]:hover {
  background: var(--primary-color);
}

.custom-form button[type="submit"] {
  background-color: var(--black-color);
  border: 0;
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
}

.google-map {
  border-radius: 0.25rem;
}

#map {
  height: 15rem;
}


/* media */

@media (min-width: 992px) {
  .section__contact h1 {
    font-size: var(--h1-size);
  }

  .contact__main{
    padding-inline: 5%;
  }

  .contact__main-title{
    font-size: var(--h2-size);
    padding: 0;
  }

  .contact__container{
    flex-direction: row;
    width: 100%;
    column-gap: 4rem;
    padding-top: 2rem;
  }

  .contact__form, .contact__schedule{
    width: 50%;
  }

  .contact__schedule{
    margin: auto;
  }
}