/*---------------------------------------
  FOOTER              
-----------------------------------------*/
.site-footer {
    background-image: url('../images/daan-evers-tKN1WXrzQ3s-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    position: relative;
  }
  
  .site-footer::before {
    content: "";
    background: linear-gradient(to top, var(--dark-color), transparent 200%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .site-footer .container {
    position: relative;
  }
  
  .tooplate-mt30 {
      margin-top: 30px;
  }
  .tooplate-mt60 {
      margin-top: 60px;
  }
  
  .copyright-text {
    font-size: var(--menu-font-size);
  }
  
  .tel-link {
    color: var(--p-color);
  }
  
  .site-footer a:hover {
    color: var(--white-color);
  }
  
  .site-footer a {
        color: #AAA;;
  }
  
  .site-footer p {
      color: #AAA;
  }