nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    background-color: var(--section-bg-color);
    position: relative;
}

.nav__link-favicon{
    width: 50px !important;
}
.nav__link{
    filter: drop-shadow( 15px 12px 8px black);
    & img{
        width: 176px;
        height: 47px;
    }
}

.nav__menu{
    padding-inline: 10%;
    & ul{
        display: flex;
        flex-direction: row;
        & li{
            list-style: none;
            margin: 15px 24px;
            cursor: pointer;
            & a{
                color: var(--p-color);
                text-decoration: none;
                font-size: var(--p-size);
                font-weight: bolder;
                text-shadow: 0px 0px 10px rgb(137, 135, 135);
            }
            & a:hover{
                color: var(--primary-color);
            }
            & a:active, a:focus{
                color: var(--primary-color);
            }
        };
    }
}

.nav__button{
    width: 176px;
    height: 47px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: var(--h6-size);
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(137, 135, 135);
    &:hover{
        background-color: brown;
        transition: 0.5s ease all;
    }
}

.nav__button_hide{
    display: none;
}

.nav__button-menu{
    width: 50px;
    height: 47px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    & i{
        font-size: 30px;
    }
    /* &:hover{
        background-color: brown;
        transition: 0.5s ease all;
    } */
}


/* MEDIA */

@media (max-width: 992px){
    .nav__menu{
        padding-inline: 0px;
        & ul{
            & li{
                margin: 15px 12px;
            }
        }
    }
    .nav__button-menu{
        display: block;
        box-shadow: 0px 0px 20px rgb(137, 135, 135);
    }
    .nav__button{
        display: none;
    }
    .nav__button_hide{
        display: inline-block;
        margin: auto;
        margin-bottom: 10px;
    }
    .nav__menu{
        display: none;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 99999;
        & ul{
            flex-direction: column;
            & li{
                text-align: center;
            }
        }
    }
    
    .active{
        display: block;
        background-color: var(--secondary-color);
        box-shadow: 10px 10px 50px;
        /* background: linear-gradient(to top, #f3af24, transparent 100%); */

        /* AGREGAR BLUR */
        


    }
    .nav{
        justify-content: space-around;
        position: fixed;
        z-index: 9999;
        width: 100%;
    }
}