body {
    font-family: var(--font-family);
    /*puse esto xq no me tomaba --font-body-family en css/main.css*/
}


.section-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../assets/images/header/header02.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}



.section-header-title h1,
.section-header-title p {
    color: var(--white-color);
}



.section-header-title h1 {
    font-size: 38px;
    margin-bottom: 1rem;
}

.section-header-title p {
    display: block;
    font-weight: 900;
}


.section-main {
    background-color: var(--section-bg-color);
    display: block;
}

.second-section {
    background-color: var(--white-color);
}



.section-title h2 {
    display: flex;
    font-size: 32px;
    padding-top: 7rem;
    margin-bottom: 2rem;
    justify-content: center;
}



.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 6rem;
    gap: 20px;
}


.section-card {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
}


.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
    height: 100%;
}





.card-info {
    padding: 20px 20px 30px;
    font-size: 18px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.card-info>div:nth-child(1),
.card-info>div:nth-child(2) {
    display: flex;
    align-items: center;
   gap: 20px;
}

.card-info>div:nth-child(2) {
    margin-block: 5px;
}


.card-info>div:nth-child(1) h4 {
    font-size: 24px;
    flex: 1;
}

.card-info>div:nth-child(1) p {
    background: var(--white-color);
    border-radius: 100px;
    color: var(--secondary-color);
    font-weight: 900;
    display: inline-block;
    width: 84px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, .175);
}


.reviews-stars svg {
    color: var(--secondary-color);
    width: 20px;
    height: 20px;
}

.card-info p {
    color: var(--p-color);
}

.card-info div span {
    text-decoration: line-through;
    font-size: 14px;
}



@media screen and (min-width: 992px) {
    .section-header-title h1 {
        font-size: var(--h1-size);
    }

    .section-title h2 {
        font-size: var(--h2-size);
    }

    .card-info h6 {
        font-size: var(--h6-size);
    }
   
    .card-img img{
        width: 100%;
        height: auto;
    }

    .card-info>div:nth-child(1) h4 {
        font-size: var(--h4-size);
    }

    .section-card {
        min-width: 416px;
    }
    .section-card {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        width: 50%;
    }
    
}